.lista-times {
  width: 100%;
  padding: 0 50px 50px 50px;
}

.times-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  width: 100%;
}

.erro-busca {
  text-align: center;
  width: 100%;
  color: #888;
  font-style: italic;
  padding: 50px;
}